<table class="table">
  <thead>
  <tr>
      <th scope="col">Name</th>
      <th scope="col">Place</th>
      <th scope="col">Date</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
      <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor ="let e of events; let i = index">
    <th scope="row">{{e.name | titlecase}}</th>
    <td>{{e.place | titlecase}}</td>
    <td>{{e.dateTime}}</td>
    <td >{{e.price | currency}}</td>
    <td><button class="btn btn-success" (click) = "show(i)">ID</button></td>
    <td *ngIf = "isLogged"><button name="id" class = "btn btn-primary" style="background-color:cornflowerblue;" (click)='buyTicket(i)'>Acquista</button></td>
    <td *ngIf = "!isLogged"><button class = "btn btn-primary" routerLink = "/login">Log to buy</button></td>
  </tr>
  </tbody>
</table>
