<h1>Ciao {{user.name}}!</h1>
<h2>Informazioni personali:</h2>
<div class="row">
    <div class="card, col-3" style="width: 18rem;">
        <img class="card-img-top" src="https://st.depositphotos.com/1779253/5140/v/600/depositphotos_51405259-stock-illustration-male-avatar-profile-picture-use.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">Username: {{user.username}}</p>
        <p class="card-text">Admin: {{user.admin}}</p>
        <p class="card-text">Password: {{user.password}}</p>
        <p class="card-text">Biglietti acquistati: {{user.tickets.length}}</p>
        </div>
    </div>
    <table class="table, col-8">
        <thead>
        <tr>
            <th scope="col">Evento</th>
            <th scope="col">Luogo</th>
            <th scope="col">Data</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor ="let t of tickets; let i = index">
            <th scope="row">{{t.event.name}}</th>
            <td>{{t.event.place}}</td>
            <td>{{t.event.dateTime}}</td>
            <button class="btn btn-success btn-sm" (click)='removeTicket(i)'>Rimuovi</button>
            <br><br>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf = "user.admin">
    <form>
        Username:<input name = "username" type="text" [(ngModel)] = "username">
        Admin: <input name = "admin" type="checkbox" [(ngModel)] = "admin">
        <br>
        <input type="submit" (click) = "makeAdmin()">
    </form>
    <br>
    <h2>Crea nuovo evento</h2>
    <form>
        Nome: <input name ="name" type="text" [(ngModel)] = "name">
        Tipo: <select name="type" [(ngModel)] = "type">
                <option value="music">Musica</option>
                <option value="theatre">Teatro</option>
                <option value="sport">Sport</option>
              </select>
        Luogo: <input name ="place" type="text" [(ngModel)] = "place">
        Data:  <input name="dateTime" type="date" data-date-format="dd/mm/yyyy" [(ngModel)] = "dateTime">
        
        Prezzo: <input name ="price" type="text" [(ngModel)] = "price">
        <input type="submit" (click) = "createEvent()">
    </form>
    <h2>Elimina evento</h2>
    <form>
        ID: <input name ="name" type="text" [(ngModel)] = "eventId">
        <input type="submit" (click) = "deleteEvent()">
    </form>
</div>