<table class="table table-striped">
    <thead class = "thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Place</th>
        <th scope="col">Date</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody >
    <tr  *ngFor ="let e of events; let i = index" >
        <th scope="row">{{e.name}}</th>
        <td>{{e.place}}</td>
        <td>{{e.dateTime}}</td>
        <td >{{e.price}}</td>
        <button name="id" class = "btn btn-primary" style="background-color:cornflowerblue;" (click)='buyTicket(i)'>Acquista</button>
        <br><br>
    </tr>
    </tbody>
</table>
